<div class="banner">
  <div class="site-header__offset"></div>
  <div class="banner__bg" style="background-image: url('{{site.img}}/content/bg.jpg')"></div>
  <div class="banner__wrap">
    {% if page.banner.content %}
      {{page.banner.content | liquify}}
    {% elsif layout.banner.content %}
      {{layout.banner.content | liquify}}
    {% else %}
      <div class="container container--no-padding text--center">
        {% if page.banner.title-sup %}<h2 class="banner-sub-title">{{page.banner.title-sup}}</h2>{% endif %}
        <h1 class="banner-title">{% if page.banner.title %}{{page.banner.title}}{% else %}{{page.title}}{% endif %}</h1>
        {% if page.banner.title-sub %}<h2 class="banner-sub-title">{{page.banner.title-sub}}</h2>{% endif %}
        <div class="space--sm"></div>
        <a id="track-banner-video-btn" href="https://vimeo.com/389660291/f86e17f1c4" class="js-open-modal btn btn--cyan" data-open-modal="video-feature"><img class="play-icon" src="{{site.img}}/icons/play-solid.svg" alt="Play icon"> take a peak</a>
      </div>
    {% endif %}
    {% if page.banner.attribution %}<div class="banner__attribution js-image-attribution">{{page.banner.attribution}}</div>{% endif %}
  </div>
  <div class="banner__bg-gradient"></div>
</div>