<!--
  creates modals for all of the sections that appear on the single page
  creates a series modal so user can nav between each poi in the current section
  will also load in normal modals that appear in /data/modals.yml
-->
<div class="js-modal modal__bg is-closed">

  {% for section in site.data.sections %}
    {% assign interview = site.data.interviews[section.id] %}
    <!-- section interview -->
    <div class="modal__wrap is-closed" data-modal-id="interview-{{section.id}}">
      <div class="modal modal--standard">
        <div class="js-close-modal modal__close"></div>
        <div class="modal__content">
          <div class="width width--xl">
            <div class="row row--valign-center">
              <div class="col col--4">
                <div class="bg-img bg-img--circle" style="background-image: url('{{site.img}}/content/{{section.id}}/person.jpg')"></div>
              </div>
              <div class="col col--8">
                <h3 class="title title--lg">{{interview.name}}</h3>
                <p class="text--xxl">{{interview.bio}}</p>
              </div>
            </div>
            <div class="space--lg"></div>
            <div class="content-spacing">
              {% for item in interview.content %}
                {% if item.image %}
                  <div class="vpad--md">
                    <div class="bg-img bg-img--4-3 bg-img--lg-3-2" style="background-image: url('{{site.img}}/content/{{section.id}}/{{item.image}}')"></div>
                  </div>
                {% endif %}
                {% if item.paragraph %}
                  <p class="text--xxl">{{item.paragraph | liquify}}</p>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- section video -->
    <div class="modal__wrap is-closed" data-modal-id="video-{{section.id}}">
      <div class="modal modal--vimeo">
        <div class="js-close-modal modal__close"></div>
        <div id="video-{{section.id}}" class="video__wrap" data-vimeo-url="{{section.video.url}}" data-vimeo-autoplay="true"></div>
      </div>
    </div>
  {% endfor %}

</div>